* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lucida Grande" sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(1.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.non-mobile-only{
  display: none !important;
}

#to-top {
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 2em;
  line-height: 2em;
  font-size: 2em;
  text-align: center;
  background: #2f80ed;
  color: #fff;
  opacity: .75;
  border-radius: 50%;
  transition: .25s all;
}

#to-top:hover {
  opacity: 1;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.signin {
  background-color: #3b5998;
  
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  line-height: 0;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 100;
}

header .container{
  width: 100%;
  margin:0;
  padding:0 0 0 30px;
  line-height: 70px;
}

header .logo {
  width: 124px;
  margin:0;
  padding:0;
  font-size: 20px;
  font-weight:bold;
}

header .header-left {
  float: left;
}

header .header-left a{
  color: #fff;
}

header .header-right {
  float: right;
  text-align: right;
}


header .header-right a {
  line-height: 65px;
  padding: 0 25px;
  margin:0;
  color: #fff;
  display: block;
  text-align: left;
  transition: all 0.5s;
}

header .header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
/*.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
 /* display:none;
}*/

header #menu-toggle {
  position: absolute;
  display: block;
  width: 1.75em;
  height: 1.75em;
  top: 15px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  z-index: 50;
  -webkit-touch-callout: none;
}

header #menu-toggle:checked ~ .scroll {
  top: 70px;
  left: 0;
}

header .hamburger {
  margin-right: 30px;
  font-size: 1.5em;

}

header .scroll {
  position: absolute;
  top: -280px;
  left: 0;
  z-index: 20;
  width: 100vw;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: .25s all;
  background: rgba(34,49,52,.9);
  border-top: solid 1px #888;
}

#kind{
  margin-bottom: 50px;
  text-align: center;
}

#kind .over{
  margin-top: -50px;
  padding: 50px 0;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .05);
}

#kind h2 {
  padding: 0 30px 30px;
  font-size: 1.5em;
}

#kind .lesson-icon {
  display: inline-block;
  padding: 30px;
  vertical-align: top;
  border-radius: 15px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .0)

}

#kind .lesson-icon:hover{
  font-size:100px;
}


/*.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
} */

/*.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}*/

/*.heading h2 {
  font-weight: normal;
}*/

/*.lesson {
  float: left;
  width: 25%;
}*/

/*.lesson-icon {
  position: relative;
}*/

/*.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}*/

/*.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}*/

/*.heading h3 {
  font-weight: normal;
}*/


#profile {
   margin-bottom: 50px;
  text-align: center;
}

#profile h3{
 margin: 15px 0 5px;
  font-size: 1.2em;

}

#profile .button{
display: inline-block;
  margin: 15px 0 15px;
  padding: 5px 15px;
  line-height: 35px;
  background: #222;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px #666;
  transition: .15s all;


}

#profile .button:hover {
  background: #444;
}

#profile .button:active {
  margin: 20px 0 10px;
  box-shadow: none;
}


footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #353a40;
  color: #fff;
  line-height: 0;
  text-align:center;
}

footer .container {
  width: 100%;
  margin: 0;
  padding: 0 30px;
  line-height: 1.618em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #2196f3;
}

footer .left span {
  margin: 0 15px;
}

footer .right span {
  margin: 0 5px;
}
